.text{
    color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 100vh;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}
form{
    width: 600px;
}
.color{
    background-color: #4c8cf4;
    color: white;
    font-weight: bolder;
}
.color-input{
    color: rgb(57, 165, 204);
    font-weight: bold;
}

.icon{
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    margin-right: 10px;
}
i{
    color: white;
}
i:hover{
    color: rgba(39, 135, 202, 0.7);
}

@media(max-width:800px){
    form{
        width: 100%;
    }
}