.title{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(218, 74, 74);
    font-weight: bold;
}

.text-public{
  font-size: 10px;
}

.Iam {
  padding: 1em 0em ;
  font: normal 25px/50px Montserrat, sans-serif;
  color: rgb(255, 255, 255);
}
.Iam p {
  height: 30px;
  float: left;
  margin-right: 0.3em;
  font-family: 'Times New Roman', Times, serif;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 5px;
}
.readBook{
  cursor: pointer;
  color: red;
  text-decoration: none;
  background-color: white;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.readBook:hover{
  background-color: chocolate;
  color: white;
}
.pdfContainer{
  width: auto;
  height: 100vh;
  margin-top: 75px;
  padding-left: 0;
  padding-right: 0;
}
.buttonReturn{
  height: 40px;
  width: 80px;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}
.buttonReturn:hover{
  background-color: rgb(108, 219, 250);
}
.ir-arriba{
  display:none;
}
.mostrarBoton{
  display: block;
  padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  z-index: 1;
}
.notData{
  width: 200px;
  height: 300px;
  background-color: white;
}
.prueba{
  color: white;
  font-size: 200px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  font-family: 'Times New Roman', Times, serif;

/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
