<div class="container mt-5">
    <div class="spaceBook">
        <div class="row p-4 text-center">
            <!-- FILA 1 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopLeft">
                <a>
                    <img src="../../../assets/images/4.jpg" class="w-100">
                    <h3 class="title">La Fuerza de Sheccid</h3>
                    <p class="animate__animated animate__bounce">Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInDown">
                <a>
                    <img src="../../../assets/images/5.jpg" class="w-100">
                    <h3 class="title">Juventud en Extasis</h3>
                    <p class="animate__animated animate__bounce">Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopRight">
                <a>
                    <img src="../../../assets/images/6.jpg" class="w-100">
                    <h3 class="title">Contraveneno</h3>
                    <p class="animate__animated animate__bounce">Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopLeft">
                <a>
                    <img src="../../../assets/images/35.jpg"  class="w-100">
                    <h3 class="title">Amar Demasiado es Depender</h3>
                    <p class="animate__animated animate__bounce">Silvia Congost</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInDown">
                <a>
                    <img src="../../../assets/images/8.jpg" class="w-100">
                    <h3 class="title">Relato de un Naufrago</h3>
                    <p>Gabriel Garcia Marquez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopRight">
                <a>
                    <img src="../../../assets/images/9.jpg" class="w-100">
                    <h3 class="title">Juventud en Extasis 2</h3>
                    <p>Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopLeft">
                <a>
                    <img src="../../../assets/images/1.jpg" class="w-100">
                    <h3 class="title">Volar sobre el pantano</h3>
                    <p>Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInDown">
                <a>
                    <img src="../../../assets/images/2.jpg" class="w-100">
                    <h3 class="title">La ultima oportunidad</h3>
                    <p>Carlos Cuauhtémoc Sánchez</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xxs-12 p-2 animate__animated animate__fadeInTopRight">
                <a>
                    <img src="../../../assets/images/3.jpg" class="w-100">
                    <h3 class="title">Aqui y Ahora</h3>
                    <p>OSHO</p>
                    <p type="text" class="mb-1 w-100 text-direction">Dirigete a Libros y Descarga Gratis</p>
                </a>
            </div>
        </div>
        <!-- FILA 2 -->
        <div class="row p-4 text-center">
            <!--boton mas libros -->
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12" id="centro">
                <a type="button" class="btn btn-danger btn-block" routerLink="/books">DESCARGAR LIBROS</a>
            </div>
            <!-- fin boton libros -->
        </div>

        <div class="container mb-4">
            <div class="aside text-center">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/images/t2.jpg" class="d-center  image" alt="...">
                            <div class="carousel-caption textColor">
                                <h5>Steve Jobs</h5>
                                <p>“No hemos sido los primeros, pero seremos los mejores”</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/images/t1.jpg"class="d-center image"  alt="...">
                            <div class="carousel-caption textColor">
                                <h5>Carlos Cuauhtémoc Sánchez</h5>
                                <p>“Hoy en día abundan ignorantes con teléfonos inteligentes“</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/images/t2.jpg"class="d-center image"  alt="...">
                            <div class="carousel-caption textColor">
                                <h5>Steve Jobs</h5>
                                <p>“La innovación es lo que distingue a un líder de un seguidor”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fh5co-narrow-content">
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <h1 class="fh5co-heading-colored">La Mejor Biblioteca &amp; Lo Mejor De Todo GRATIS!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <p class="fh5co-lead">La sociedad se ve envuelta en cosas tan innecesarias que nos preguntamos,
                        por que no ofrecerles algo interesante?</p>
                    <p><a routerLink="/contact" class="btn btn-primary btn-outline">Contactar</a></p>
                </div>
                <div class="col-md-7 col-md-push-1">
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Asi es como nace esta biblioteca virtual, la cual viene a darles a las personas un mejor
                                estilo de vida y evitar que se dejen guiar por el caudal de desinformacion que
                                existe actualmente.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Estamos comprometidos en brindarles la mayor 
                                cantidad de libros que sea posible, el unico objetivo de este 
                                pequeño proyecto es fomentar la lectura y evitar en lo posible que
                                formen parte de los grupos de POBRE MENTALIDAD que actualmente predominan en la sociedad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>